
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 justify-content-center ">

            <form action="" class="form  " method="post">
                <br>

                <legend class="text-center header text-danger">Registro</legend>

                <br>
                <div>
                    <input hover id="txtnombre" name="nombre" type="text" placeholder="Nombre"
                           class="form-control">
                </div>
                <br>
                <div>
                    <input id="txtApellido1" name="apellido1" type="text" placeholder="Primer apellido"
                           class="form-control">
                </div>
                <br>
                <div>
                    <input hover id="txtApellido2" name="apellido2" type="text" placeholder="Segundo apellido"
                           class="form-control">
                </div>
                <br>
                <div>
                    <input hover id="txtTelefono" name="telefono" type="number" placeholder="Telefono"
                           class="form-control">
                </div>
                <br>
                <div>
                    <input hover id="txtCorreo" name="correo" type="text" placeholder="Correo"
                           class="form-control">
                </div>
                <br>
                <div>
                    <input hover id="txtContrasena" name="contrasena" type="text" placeholder="Contraseña"
                           class="form-control">
                </div>
                <br>

                <br>



                <div class="form-group justify-content-center">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-danger btn-lg" name="btnRegistro">Registrar</button>
                    </div>
                </div>

            </form>


        </div>


        <div class="col-4"></div>
</>