
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Principal.cshtml";
}

<header class="v-header text-center">
    <div class="fullscreen-video-wrap">

        <video onloadedmetadata="this.muted=true" autoplay loop width="100%">
            <source src="../Media/video2.mp4" type="video/mp4">
    </div>
    <div class="header-overlay">
        
        <div class="header-content ">

            <br><br><br><br><br><br><br><br><br>
             
            <a href="~/Views/Cartelera/Index.cshtml" class="btn btn-danger">Cartelera CinePlus</a>
        </div>
    </div>
</header>