@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Gracias por registrarse.</p>
    <a href="@Url.Action("Index", "Cartelera")" class="btn btn-danger btn-lg">Ver Cartelera</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ver las Salas</h2>
        <p>
            Aca puede modificar toda la tabla de salas, crear, eliminar y actualizar...
        </p>
        <p><a href="@Url.Action("Index", "salas")" class="btn btn-danger btn-lg">Ver salas</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ver las Sucursales</h2>
        <p>Aca puede modificar toda la tabla de salas, crear, eliminar y actualizar...</p>
        <p><a href="@Url.Action("Index", "sucursals")" class="btn btn-danger btn-lg">Ver Sucursales</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Aca puede modificar toda la tabla de salas, crear, eliminar y actualizar...</p>
        <p><a href="@Url.Action("Index", "clientes")" class="btn btn-danger btn-lg">Ver Clientes</a></p></p>
    </div>
</div>